[Unit]
After=boot_up.service
Requires=boot_up.service

[Service]
SyslogIdentifier=localize
Type=simple
WorkingDirectory=/home/pi/node_client
ExecStartPre=-/usr/bin/killall anchor
ExecStartPre=-/bin/bash /home/pi/node_client/scripts/reboot_hci.sh
ExecStart=/usr/bin/npm start
ExecStop=/usr/bin/killall anchor
Restart=always
StandardOutput=syslog
StandardError=syslog
User=0
Group=0

[Install]
WantedBy=multi-user.target
